<div class="card my-3">
  <div class="card-header my-2">
    <div class="card-header-title">
      Comments:
    </div>
  </div>
  <div class="card-content">
    <div class="content">
      <div class="columns is-multiline">
        <% unless comment.archived? %>
          <div class="column is-two-fifths">
            <p><strong><%= comment.commenter %>:</strong></p>
            <p><%= comment.body %></p>
            <p>
              <%= link_to "Delete", [comment.article, comment], data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    } %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
